<!-- app/views/shared/_topnav.html.erb -->
<div class="topnav">
  <%= link_to 'Home', dashboard_path, class: 'nav-link' %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link' %>
</div>
