<html>
<head>
    <title>LeafLife Care</title>
</head>
<body>
<div class="center-container">
<h1>Welcome to LeafLife Care</h1>
<%= link_to 'Login', new_user_session_url, class:'actions' %>
</div>
</body>
</html>