.topnav {
  padding-bottom: 50px;
}

.topnav .nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .logout-link {
  float: right;
  font-size: 12pt;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
}

h1 {
  font-size: 20pt;
  font-weight: normal;
  text-align: center;
  color: #404040;
  padding-top: 30px;
}

h2 {
  font-size: 15pt;
  font-weight: normal;
  text-align: center;
  color: #404040;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}

.first-field {
  background-color:white;
  color: #404040;
  font-size: 12pt;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
  border: 1px solid #808080;
}

.one-field {
  background-color:white;
  color: #404040;
  font-size: 12pt;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid #808080;
}

.last-field {
  background-color:white;
  color: #404040;
  font-size: 12pt;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
  border: 1px solid #808080;
  padding-right: 50px; /* Leave space for the submit button */
}

.middle-field {
  background-color:white;
  color: #404040;
  font-size: 12pt;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
  margin: 0 auto;
  border: 1px solid #808080;
}

.field {
  margin-bottom: -1px; /* Adjust margin to visually merge fields */
  position: relative;
}

.remember {
  font-size: 13pt;
  padding: 50px 30px 0px 30px;;
  color:#404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember input[type="checkbox"], .remember label {
  margin: 0 5px; /* Add some space between the checkbox and the label */
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

/*inside lable*/
.field label {
  position: absolute;
  font-size: 8pt;
  top: 7px;
  left: 15px;
  color: #999;
  transition: all 0.3s;
  pointer-events: none;
}

/* highlight color #007bff */
.first-field:focus, .last-field:focus, .middle-field:focus, .one-field:focus {
  outline: none;
  border: 2px solid #007bff;
}

.password-container {
  position: relative;
}

.submit-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%); 
  background: none;
  border: none;
  padding: 5px 10px;
}

.actions {
  text-align: center;
  padding: 20px;
}

.actions input[type="submit"] {
  color: #007bff;
  padding: 10px 20px;
  font-size: 12pt;
  cursor: pointer;
}

.plant-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 450px;
}

.img{
  border-radius: 8px;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto 10px;
  object-fit: contain;
}

.card.add-plant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #404040;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.card.add-plant-card:hover {
  background-color: #f0f0f0;
  color: #388E3C;
}

select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  appearance: none;
  margin-top: 5px;
}

select:focus {
  border-color: #007aff;
  outline: none;
}

select:hover {
  border-color: #007aff;
}

input[type="submit"], .edit-button {
  background-color: #007aff;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: red;
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: lightcoral;
}

input[type="submit"]:hover, .edit-button:hover {
  background-color: #005ecb;
}

p {
  text-align: center;
}

.details td {
  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 100%;
}
